body{
    padding-bottom: 40px;
}

.credentials-input{

    max-width: 300px;

}

.bottom{
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
}

input[type="file"]{
    display: none;
}

.hiding {
    -moz-animation: hideAnimation 0s ease-in 2s forwards;
    -webkit-animation: hideAnimation 0s ease-in 2s forwards;
    -o-animation: hideAnimation 0s ease-in 2s forwards;
    animation: hideAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        left: -9999px;
        position: absolute;
    }
}

@-webkit-keyframes hideAnimation {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        left: -9999px;
        position: absolute;
    }
}