<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>

<div th:fragment="messages" >

    <th:block th:each="message : ${messages}">
        <div class="notification is-success">
            <button class="delete" onclick="this.parentElement.style.display='none'"></button>
            <p th:text="${message}"></p>
        </div>
    </th:block>

</div>

<div th:fragment="errors" >

    <th:block th:each="error : ${errors}">
        <div class="notification is-danger">
            <button class="delete" onclick="this.parentElement.style.display='none'"></button>
            <p th:text="${error}"></p>
        </div>
    </th:block>

</div>


</body>
</html>