<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Application</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="/style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>



  <section th:replace="fragments/header :: header"></section>



  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>
  </div>

  <div class="container main">
      <section class="section">

          <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
          <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>

          <h1 class="title">Your account</h1>

          <th:block th:each="error: ${errors}">
              <p th:text="${error}"></p>
          </th:block>

          <!--/*@thymesVar id="user" type="me.mjaroszewicz.crmapp.entities.User"*/-->
          <table class="table is-fullwidth is-hoverable">
              <thead>
              <th>Param</th>
              <th>Value</th>
              </thead>
              <tbody>

              <tr>
                  <th>Username</th>
                  <td th:text="${user.username}"></td>
              </tr>

              <tr>
                  <th>Email</th>
                  <td>
                          <form class="field has-addons" th:action="@{/user/changemail}"  method="post">

                              <div class="control">
                                  <input class="input" th:value="${user.email}" name="email" type="email"/>
                              </div>
                              <div class="control">
                                  <input type="submit" value="Change" class="button is-link"/>
                              </div>

                          </form>


                  </td>

              </tr>

              <tr>
                  <th>Phone</th>
                  <td th:text="${user.phone}"></td>

              </tr>

              </tbody>
          </table>


      </section>
  </div>

  <footer th:replace="fragments/footer :: footer"></footer>


  </body>
</html>
