<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Application</title>
    <link rel="stylesheet" href="/bulma.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/fa-all.js"></script>
    <script src="/js.js"></script>
</head>
<body>



<section th:replace="fragments/header :: header"></section>


<div class="container">
    <div th:replace="fragments/navigation :: navigation"></div>
</div>
<div class="container main">

    <section class="section">

        <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
        <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>

        <h1 class="title">Clients</h1>

        <table class="table is-hoverable is-fullwidth">
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>

            </thead>

            <tbody>

            <th:block th:each="client: ${clients}">
                <tr th:onclick="'window.location.href = \'' + @{/clients/{id}(id=${client.id})} + '\''">

                    <th th:text="${client.id}"></th>
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.description}"></td>
                    <td th:text="${client.address}"></td>
                    <td th:text="${client.phone}"></td>
                    <td th:text="${client.email}"></td>
                </tr>

            </th:block>

            </tbody>
        </table>

    </section>


</div>

<div class="modal">
    <div class="modal-background">
    </div>

    <div class="modal-content">
        <div class="box">
            <p>Content</p>
        </div>
    </div>


    <button class="modal-close is-large" aria-label="close"></button>
</div>




<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>
