<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Bulma!</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="/style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>

  <section th:replace="fragments/header :: header"></section>

  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>
  </div>

  <div class="container main">
      <section class="section">

          <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
          <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>

          <h1 class="title">Client</h1>

          <table class="table is-hoverable">
              <thead>
              <th>Param</th>
              <th>Value</th>
              </thead>
              <tbody>

              <tr>
                  <th>Id</th>
                  <td th:text="${client.id}"></td>
              </tr>

              <tr>
                  <th>Name</th>
                  <td th:text="${client.name}"></td>
              </tr>

              <tr>
                  <th>Description</th>
                  <td th:text="${client.description}"></td>
              </tr>

              <tr>
                  <th>Address</th>
                  <td th:text="${client.address}"></td>
              </tr>

              <tr>
                  <th>Phone</th>
                  <td th:text="${client.phone}"></td>
              </tr>

              <tr>
                  <th>Email</th>
                  <td th:text="${client.email}"></td>
              </tr>

              <tr>
                  <th>Orders</th>
                  <td>
                      <th:block th:each="order : ${orders}">
                          <p>
                              <a th:href="@{/orders/{id}(id=${order.id})}" th:text="${order.name}"></a>
                          </p>
                      </th:block>
                  </td>
              </tr>

              </tbody>
          </table>

          <div class="field">
              <div class="control">
                  <a class="button is-link" th:href="@{/clients/edit/{id}(id=${client.id})}">Edit2</a>
              </div>
          </div>




      </section>
  </div>

  <footer th:replace="fragments/footer :: footer"></footer>


  </body>
</html>
