<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Bulma!</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>



  <section class="hero is-primary is-success">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Dashboard
              </h1>
              <h2 class="subtitle">
                  Lorem ipsum
              </h2>
          </div>
      </div>

  </section>

  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>


  </div>



  <div class="container main">
      <section class="section">
          <h1 class="title">Important data</h1>
      <nav class="level">
          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Clients</p>
                  <p class="title" th:text="${clientsCount}"></p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Active orders</p>
                  <p class="title" th:text="${activeOrdersCount}"></p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Orders completed</p>
                  <p class="title" th:text="${completedOrdersCount}"> </p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Complaints left</p>
                  <p class="title" th:text="${unresolvedComplaintsCount}"></p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Order sum</p>
                  <p class="title" th:text="'$'+${ordersValueSum}"></p>
              </div>
          </div>

      </nav>

      </section>

      <section class="section">

          <div class="columns">
              <div class="column is-narrow">
                  <h1 class="title">
                      Latest payments
                  </h1>


                  <table class="table">
                      <thead>
                      <tr>
                          <th>Amount</th>
                          <th>Description</th>
                      </tr>
                      </thead>

                      <tbody>
                      <th:block th:each="payment: ${payments}">

                          <tr>
                              <td th:text="${payment.amount}"></td>
                              <td th:text="${payment.description}"></td>
                          </tr>
                      </th:block>

                      </tbody>

                  </table>
              </div>

              <div class="column is-narrow">
                  <h1 class="title">Latest orders</h1>

                  <table class="table">

                      <thead>

                      <th>Value</th>
                      <th>Client</th>
                      <th>Deadline</th>
                      <th>Payments</th>

                      </thead>

                      <tbody>

                      <th:block th:each="order:${orders}">
                          <tr>
                              <td th:text="'$' + ${order.value}"></td>
                              <td><a th:href="@{/clients/{id}(id=${order.recipient.id})}" th:text="${order.recipient.name}"></a> </td>
                              <td th:text="${order.dateDeadline}"></td>
                              <td><progress class="progress is-success is-small" th:value="${order.paymentPercentage}" max="10"></progress> </td>
                          </tr>

                      </th:block>


                      </tbody>

                  </table>

              </div>

              <div class="column is-narrow">

                  <h1 class="title">Latest complaints</h1>

                  <table class="table">


                      <thead>
                      <th>Urgent</th>
                      <th>Deadline</th>
                      <th>Description</th>
                      </thead>

                      <tbody>

                      <th:block th:each="complaint: ${complaints}">
                          <tr>
                              <td th:switch="${complaint.urgent}">
                                  <p th:case="true" th:text="Yes"></p>
                                  <p th:case="false" th:text="No"></p>
                              </td>
                              <td th:text="${complaint.dateDeadline}"></td>
                              <td th:text="${complaint.description}"></td>
                          </tr>
                      </th:block>
                      </tbody>

                  </table>

              </div>

          </div>

      </section>




  </div>


  <footer class="footer bottom">
      <div class="container">
          <div class="content has-text-centered">
              <p><strong>©<a href="http://mjaroszewicz.me/">M. Jaroszewicz </a>2018</strong></p>
          </div>
      </div>
  </footer>

  </body>
</html>
