<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
      <link rel="stylesheet" href="style.css"/>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>



  <section class="hero is-primary">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Dashboard
              </h1>
              <h2 class="subtitle">
                  Lorem ipsum
              </h2>
          </div>
      </div>

      <div class="container">
          <nav class="navbar" role="navigation">
              <div class="navbar-tabs">
                  <a class="navbar-item" th:href="@{/dashboard}">Dashboard</a>
                  <a class="navbar-item" th:href="@{/orders}">Orders</a>
                  <a class="navbar-item" th:href="@{/complaints}">Complaints</a>
              </div>
          </nav>
      </div>

  </section>



  <div class="container main">
      <section class="section">
          <h1 class="title">This month</h1>
      <nav class="level">
          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">New clients</p>
                  <p class="title">5</p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">New orders</p>
                  <p class="title">23</p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Orders completed</p>
                  <p class="title"> 13</p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Complaints</p>
                  <p class="title">5</p>
              </div>
          </div>

          <div class="level-item has-text-centered">
              <div>
                  <p class="heading">Profit</p>
                  <p class="title">+$30 000</p>
              </div>
          </div>

      </nav>

      </section>

      <section class="section">

          <div class="columns">
              <div class="column is-narrow">
                  <h1 class="title">
                      Latest payments
                  </h1>


                  <table class="table">
                      <thead>
                      <tr>
                          <th>id</th>
                          <th>Amount</th>
                          <th>Description</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                          <th>1</th>
                          <td>$2000</td>
                          <td>Lorem ipsum</td>
                      </tr>

                      <tr>
                          <th>2</th>
                          <td>$4200</td>
                          <td>Dolor sit amet</td>
                      </tr>

                      <tr>
                          <th>3</th>
                          <td>$600</td>
                          <td>Exegi monumentum</td>
                      </tr>
                      </tbody>

                  </table>
              </div>

              <div class="column is-narrow">
                  <h1 class="title">Latest orders</h1>

                  <table class="table">

                      <thead>

                      <th>id</th>
                      <th>Value</th>
                      <th>Client</th>
                      <th>Date</th>
                      <th>Payments</th>

                      </thead>

                      <tbody>

                      <tr>
                          <th>1</th>
                          <td>$4000</td>
                          <td>Company Inc.</td>
                          <td>2018-01-19</td>
                          <td><progress class="progress is-success is-small" value="7" max="10">70%</progress> </td>
                      </tr>

                      <tr>
                          <th>2</th>
                          <td>$400</td>
                          <td>John Smith</td>
                          <td>2018-01-10</td>
                          <td><progress class="progress is-success is-small" value="10" max="10">100%</progress> </td>
                      </tr>

                      <tr>
                          <th>3</th>
                          <td>$5800</td>
                          <td>Big Firm Ltd.</td>
                          <td>2018-01-20</td>
                          <td><progress class="progress is-success is-small" value="2" max="10">20%</progress> </td>
                      </tr>

                      </tbody>

                  </table>

              </div>

              <div class="column is-narrow">

                  <h1 class="title">Latest complaints</h1>

                  <table class="table">


                      <thead>
                      <th>
                          id
                      </th>
                      <th>Urgent</th>
                      <th>Date</th>
                      <th>Description</th>
                      </thead>

                      <tbody>
                      <tr>
                          <th>1</th>
                          <td>Yes</td>
                          <td>2018-01-22</td>
                          <td>5 tables broken</td>
                      </tr>

                      <tr>
                          <th>2</th>
                          <td>No</td>
                          <td>2018-01-10</td>
                          <td>Chair slightly scratched in transport</td>
                      </tr>
                      </tbody>

                  </table>

              </div>

          </div>

      </section>




  </div>


  <footer class="footer bottom">
      <div class="container">
          <div class="content has-text-centered">
              <p>MJ 2018</p>
          </div>
      </div>
  </footer>

  </body>
</html>
