<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Bulma!</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="/style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>

  <section th:replace="fragments/header :: header"></section>

  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>
  </div>

  <div class="container main">
      <section class="section">

          <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
          <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>

          <h1 class="title">Edit client</h1>

          <!--/*@thymesVar id="client" type="me.mjaroszewicz.crmapp.dto.ClientDto"*/-->
          <form class="form" method="post" th:object="${client}" action="#" th:action="@{/clients/edit}">

              <div class="field">
                  <label class="label">Id</label>
                  <div class="control">
                      <input class="input" type="text" disabled="disabled" th:field="*{id}"/>
                  </div>
              </div>


              <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                      <input class="input" type="text"  th:field="*{name}"/>
                  </div>
              </div>


              <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{description}"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Address</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{address}"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Phone</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{phone}"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{email}"/>
                  </div>
              </div>

              <div class="field">
                  <div class="control">
                      <input type="submit" class="button is-link" value="Submit"/>
                  </div>
              </div>


          </form>






      </section>
  </div>

  <footer th:replace="fragments/footer :: footer"></footer>


  </body>
</html>
