<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Application</title>
    <link rel="stylesheet" href="/bulma.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <script src="fa-all.js"></script>
    <script src="js.js"></script>
</head>
<body>



<section th:replace="fragments/header :: header"></section>


<div class="container">
    <div th:replace="fragments/navigation :: navigation"></div>
</div>
<div class="container main">

    <section class="section">

        <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
        <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>

        <h1 class="title">Expenses</h1>

        <table class="table is-fullwidth is-hoverable">
            <thead>
            <th>Id</th>
            <th>Value</th>
            <th>Description</th>
            <th>Date</th>
            <th>Controls</th>

            </thead>

            <tbody>

            <!--/*@thymesVar id="expense" type="me.mjaroszewicz.crmapp.entities.Expense"*/-->
            <!--/*@thymesVar id="expenses" type="java.util.List<me.mjaroszewicz.crmapp.entities.Expense>"*/-->
            <th:block th:each="expense: ${expenses}">

                <tr>
                    <th th:text="${expense.id}"></th>
                    <td th:text="'$' + ${expense.value}"></td>
                    <td th:text="${expense.description}"></td>
                    <td th:text="${expense.getStringDate()}"></td>
                    <td>
                        <a class="tag" th:href="@{/finance/expenses/delete/{id}(id=${expense.id})}">Delete</a>
                    </td>

                </tr>

            </th:block>

            </tbody>
        </table>

    </section>


</div>

<div class="modal">
    <div class="modal-background">
    </div>

    <div class="modal-content">
        <div class="box">
            <p>Content</p>
        </div>
    </div>


    <button class="modal-close is-large" aria-label="close"></button>
</div>




<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>
