<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Application</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="/style.css"/>
      <script src="fa-all.js"></script>
      <script src="/chart.min.js"></script>
  </head>
  <body>



  <section th:replace="fragments/header :: header"></section>


  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>

  </div>





  <div class="container main">

      <!--/*@thymesVar id="messages" type="java.util.List<String>"*/-->
      <div th:replace="fragments/notifications :: messages(messages=${messages})"></div>
      <!--/*@thymesVar id="errors" type="java.util.List<String>"*/-->
      <div th:replace="fragments/notifications :: errors(errors=${errors})"></div>



      <section class="section">
          <div class="columns">
              <div class="column">
                  <h1 class="title is-centered">Income and expenses over the last 8 weeks</h1>
                  <canvas id="lastEightWeeksChart">
                  </canvas>
              </div>

              <div class="column">
                  <h1 class="title is-center">Client gain over last 8 weeks</h1>
                  <canvas id="clientGainChart"></canvas>
              </div>


          </div>
      </section>


  </div>



  <footer th:replace="fragments/footer :: footer"></footer>

  </body>

<script th:inline="javascript">

    var expenses = /*[[${expenses}]]*/ "[]";
    var payments = /*[[${payments}]]*/ "[]";

    var clients = /*[[${clients}]]*/ "[]";


    alert(expenses);
    alert(payments);

    var ctx = document.getElementById("lastEightWeeksChart");

    var ctx2 = document.getElementById("clientGainChart");

    var config1 = {
        type: 'line',
        data: {
            labels: ["8", "7", "6", "5","4", "3", "2", "1"],
            datasets: [{
                label: "Income",
                backgroundColor: "Green",
                borderColor: "Green",
                data: JSON.parse(payments),
                fill: false
            },
                {
                    label: "Expenses",
                    backgroundColor: "Red",
                    borderColor: "Red",
                    data: JSON.parse(expenses),
                    fill: false
                }
            ]
        },
        options: {
            responsive: true,
            title:{
                display:false,
                text:'Income over last 8 weeks'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Weeks ago'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    var config2 = {
        type: 'line',
        data: {
            labels: ["8", "7", "6", "5","4", "3", "2", "1"],
            datasets: [{
                label: "New clients",
                backgroundColor: "Blue",
                borderColor: "Blue",
                data: JSON.parse(clients),
                fill: false
            }
            ]
        },
        options: {
            responsive: true,
            title:{
                display:false,
                text:'New clients per week over last 8 weeks'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Weeks ago'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };



    var moneyChart = new Chart(ctx, config1);

    var clientGainChart = new Chart(ctx2, config2);





</script>

</html>
