<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello Bulma!</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>



  <section class="hero is-success">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Clients
              </h1>
              <h2 class="subtitle">
                  Add new
              </h2>
          </div>
      </div>


  </section>


  <div class="container">
      <nav class="navbar" role="navigation">
          <div class="navbar-start">
              <a class="navbar-item" th:href="@{/dashboard}">Dashboard</a>

              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" th:href="@{/complaints}">
                      Complaints
                  </a>

                  <div class="navbar-dropdown">
                      <a class="navbar-item" th:href="@{/complaints/new}">
                          New complaint
                      </a>
                  </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" th:href="@{/orders}">
                      Orders
                  </a>

                  <div class="navbar-dropdown">
                      <a class="navbar-item" th:href="@{/orders/new}">
                          New order
                      </a>
                  </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" th:href="@{/clients}">
                      Clients
                  </a>

                  <div class="navbar-dropdown">
                      <a class="navbar-item" th:href="@{/clients/new}">
                          New client
                      </a>
                  </div>
              </div>
          </div>
      </nav>
  </div>

  <div class="container main">
      <section class="section">

          <h1 class="title">New order</h1>

          <form action="#" th:action="@{/clients/new}" th:object="${clientDto}" method="post">
              <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{name}" placeholder="Name"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                      <input class="input" type="text" th:field="*{description}" placeholder="Description"/>
                  </div>
              </div>


              <div class="field">
                  <label class="label">Address</label>
                  <div class="control">
                      <input class="input" th:field="*{address}" type="text"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                      <input class="input" th:field="*{email}" type="email"/>
                  </div>
              </div>

              <div class="field">
                  <label class="label">Phone</label>
                  <div class="control">
                      <input class="input" th:field="*{phone}">
                  </div>
              </div>

              <div class="field">
                  <input type="submit" class="button is-link" value="Submit"/>
                  <a class="button is-outlined" th:href="@{/clients}">Cancel</a>
              </div>
          </form>


      </section>
  </div>

  <footer class="footer bottom">
      <div class="container">
          <div class="content has-text-centered">
              <p><strong>©<a href="http://mjaroszewicz.me/">M. Jaroszewicz </a>2018</strong></p>
          </div>
      </div>
  </footer>

  </body>
</html>
