<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Application</title>
      <link rel="stylesheet" href="/bulma.min.css"/>
      <link rel="stylesheet" href="/style.css"/>
      <script src="fa-all.js"></script>
  </head>
  <body>



  <section th:replace="fragments/header :: header"></section>



  <div class="container">
      <div th:replace="fragments/navigation :: navigation"></div>
  </div>

  <div class="container main">
      <section class="section">

          <h1 class="title">Order</h1>

          <table class="table is-hoverable">
              <thead>
              <th>Param</th>
              <th>Value</th>
              </thead>
              <tbody>

              <tr>
                  <th>Id</th>
                  <td th:text="${order.id}"></td>
              </tr>

              <tr>
                  <th>Name</th>
                  <td th:text="${order.name}"></td>
              </tr>

              <tr>
                  <th>Description</th>
                  <td th:text="${order.description}"></td>
              </tr>

              <tr>
                  <th>Value</th>
                  <td th:text="'$' + ${order.value}"></td>
              </tr>

              <tr>
                  <th>Recipient</th>
                  <td>
                      <a th:href="@{/clients/{id}(id=${order.recipient.id})}" th:text="${order.recipient.name}"></a>
                  </td>
              </tr>

              <tr>
                  <th>Payments</th>
                  <td>
                      <th:block th:each="payment : ${order.payments}">
                          <p th:text="${payment.description} + ' - $' + ${payment.amount}"></p>
                      </th:block>
                  </td>
              </tr>

              <tr>
                  <th>Deadline</th>
                  <td th:text="${order.dateDeadline}"></td>
              </tr>

              <tr>
                  <th>Created</th>
                  <td th:text="${order.dateReceived}"></td>
              </tr>

              </tbody>
          </table>

          <div class="field">
              <div class="control">
                  <a class="button is-link" th:href="@{/complaints/new?orderId={id}(id=${order.id})}">Complaint</a>
              </div>
          </div>




      </section>
  </div>

  <footer th:replace="fragments/footer :: footer"></footer>


  </body>
</html>
