<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registration</title>
    <link rel="stylesheet" href="/bulma.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/fa-all.js"></script>
</head>
<body>
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Register
            </h1>
            <h2 class="subtitle">
                Enter your credentials
            </h2>

            <form action="#" th:action="@{/register}" method="post" th:object="${user}">
                <div class="field credentials-input">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" th:field="*{username}" placeholder="Username"/>
                        <span class="
                        icon is-small is-left is-dark">
                        <i class="fas fa-user"></i>
                    </span>
                    </p>
                </div>
                <div class="field credentials-input">
                    <p class="control has-icons-left">
                        <input class="input" type="password" th:field="*{password}" placeholder="Password"/>
                        <span class="icon is-small is-left is-dark">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field credentials-input">
                    <p class="control has-icons-left">
                        <input class="input" type="email" th:field="*{email}" placeholder="E-mail"/>
                        <span class="icon is-small is left is-dark">
                            <i class="fas fa-email"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-inverted">
                            Register
                        </button>

                        <button type="reset" class="button is-light">
                            Reset
                        </button>

                        <a class="button is-light" th:href="@{/login}">
                            Cancel
                        </a>

                    </p>
                </div>


            </form>
        </div>
    </div>
</section>
</body>


</html>
